#head-row {
    display: flex;
    font-size: 10px;
}

#body-row {
    display: flex;
    font-size: 10px;
}

.cell {
    border: 1px solid white;
    text-align: center;
}

.cell:hover {
    scale: 1.5;
}

th,
td {
    width: 8%;
    text-overflow: ellipsis;
    word-break: break-all;
    text-align: center;
}

#btn {
    margin-bottom: 10px;
    margin-left: 5px;
}

#btn:hover {
    background-color: #01C851;
    color: white;
}

h3 {
    margin-left: 5px;
}